.search{
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: yellow;

}
.search-input-box{
    text-decoration: underline;
    padding-right: 100px;
    font-size: 30px;
}
.search-input-box>label{
    padding-left: 25px;
}

.search-info{
    font-size: 30px;
    font-weight: bold;
    text-decoration: dashed;
}